<a href="https://colab.research.google.com/github/SumnerDolleman/DATA5400-Predictive-Modeling/blob/main/Mini_Project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression as lr
from sklearn.model_selection import train_test_split

df  = pd.read_excel('https://github.com/SumnerDolleman/DATA5400-Predictive-Modeling/blob/main/Mini%20Project%202%20-%20AlumniGiving.xlsx?raw=true')

Use the methods of the descriptive statistics summarize the data.

In [ ]:
m1 = df.mean()
med1 = df.median()
mod1 = df.mode()

print('Here is the summary statistics for the Total Estimate column', '\nMean: ', m1, '\nMedian: ', med1, '\nMode: ', mod1)

Here is the summary statistics for the Total Estimate column
Mean:  Graduation Rate          83.041667
% of Classes Under 20    55.729167
Student-Faculty Ratio    11.541667
Alumni Giving Rate       29.270833
dtype: float64
Median:  Graduation Rate          83.5
% of Classes Under 20    59.5
Student-Faculty Ratio    10.5
Alumni Giving Rate       29.0
dtype: float64
Mode:                              University State  Graduation Rate  \
0                       Boston College    CA             92.0
1                  Brandeis University   NaN              NaN
2                     Brown University   NaN              NaN
3   California Institute of Technology   NaN              NaN
4           Carnegie Mellon University   NaN              NaN
5           Case Western Reserve Univ.   NaN              NaN
6          College of William and Mary   NaN              NaN
7                  Columbia University   NaN              NaN
8                   Cornell University   NaN              NaN
9                    Dartmouth College   NaN              NaN
10                     Duke University   NaN              NaN
11                    Emory University   NaN              NaN
12               Georgetown University   NaN              NaN
13                  Harvard University   NaN              NaN
14            Johns Hopkins University   NaN              NaN
15                   Lehigh University   NaN              NaN
16   Massachusetts Inst. of Technology   NaN              NaN
17                 New York University   NaN              NaN
18             Northwestern University   NaN              NaN
19            Pennsylvania State Univ.   NaN              NaN
20                Princeton University   NaN              NaN
21                     Rice University   NaN              NaN
22                 Stanford University   NaN              NaN
23                    Tufts University   NaN              NaN
24                   Tulane University   NaN              NaN
25           U. of California–Berkeley   NaN              NaN
26              U. of California–Davis   NaN              NaN
27             U. of California–Irvine   NaN              NaN
28        U. of California–Los Angeles   NaN              NaN
29          U. of California–San Diego   NaN              NaN
30      U. of California–Santa Barbara   NaN              NaN
31                       U. of Chicago   NaN              NaN
32                       U. of Florida   NaN              NaN
33     U. of Illinois–Urbana Champaign   NaN              NaN
34            U. of Michigan–Ann Arbor   NaN              NaN
35    U. of North Carolina–Chapel Hill   NaN              NaN
36                    U. of Notre Dame   NaN              NaN
37                  U. of Pennsylvania   NaN              NaN
38                     U. of Rochester   NaN              NaN
39           U. of Southern California   NaN              NaN
40                  U. of Texas–Austin   NaN              NaN
41                      U. of Virginia   NaN              NaN
42                    U. of Washington   NaN              NaN
43             U. of Wisconsin–Madison   NaN              NaN
44               Vanderbilt University   NaN              NaN
45              Wake Forest University   NaN              NaN
46     Washington University–St. Louis   NaN              NaN
47                     Yale University   NaN              NaN

    % of Classes Under 20  Student-Faculty Ratio  Alumni Giving Rate
0                    65.0                    8.0                13.0
1                     NaN                   13.0                 NaN
2                     NaN                    NaN                 NaN
3                     NaN                    NaN                 NaN
4                     NaN                    NaN                 NaN
5                     NaN                    NaN                 NaN
6                     NaN                    NaN                 NaN
7                     NaN                    NaN                 NaN
8                     NaN                    NaN                 NaN
9                     NaN                    NaN                 NaN
10                    NaN                    NaN                 NaN
11                    NaN                    NaN                 NaN
12                    NaN                    NaN                 NaN
13                    NaN                    NaN                 NaN
14                    NaN                    NaN                 NaN
15                    NaN                    NaN                 NaN
16                    NaN                    NaN                 NaN
17                    NaN                    NaN                 NaN
18                    NaN                    NaN                 NaN
19                    NaN                    NaN                 NaN
20                    NaN                    NaN                 NaN
21                    NaN                    NaN                 NaN
22                    NaN                    NaN                 NaN
23                    NaN                    NaN                 NaN
24                    NaN                    NaN                 NaN
25                    NaN                    NaN                 NaN
26                    NaN                    NaN                 NaN
27                    NaN                    NaN                 NaN
28                    NaN                    NaN                 NaN
29                    NaN                    NaN                 NaN
30                    NaN                    NaN                 NaN
31                    NaN                    NaN                 NaN
32                    NaN                    NaN                 NaN
33                    NaN                    NaN                 NaN
34                    NaN                    NaN                 NaN
35                    NaN                    NaN                 NaN
36                    NaN                    NaN                 NaN
37                    NaN                    NaN                 NaN
38                    NaN                    NaN                 NaN
39                    NaN                    NaN                 NaN
40                    NaN                    NaN                 NaN
41                    NaN                    NaN                 NaN
42                    NaN                    NaN                 NaN
43                    NaN                    NaN                 NaN
44                    NaN                    NaN                 NaN
45                    NaN                    NaN                 NaN
46                    NaN                    NaN                 NaN
47                    NaN                    NaN                 NaN

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

Use the methods of the descriptive statistics summarize the data.

In [ ]:
min1 = df.min()
max1 = df.max()
q1 = df.quantile(q= .25)
q2 = df.quantile(q=.5)
q3 = df.quantile(q=.75)
sd1 = df.std()
var1 = df.var()
print('Here is the summary statistics for the Total Estimate column', '\nMin: ', min1, '\nMax: ', max1, '\nQ1, Q2, Q3: ', q1, ', ', q2, ', ', q3, '\nStandard Deviation:', sd1, '\nVariance:', var1)

Here is the summary statistics for the Total Estimate column
Min:  University               Boston College
State                                CA
Graduation Rate                      66
% of Classes Under 20                29
Student-Faculty Ratio                 3
Alumni Giving Rate                    7
dtype: object
Max:  University               Yale University
State                                 WI
Graduation Rate                       97
% of Classes Under 20                 77
Student-Faculty Ratio                 23
Alumni Giving Rate                    67
dtype: object
Q1, Q2, Q3:  Graduation Rate          75.75
% of Classes Under 20    44.75
Student-Faculty Ratio     8.00
Alumni Giving Rate       18.75
Name: 0.25, dtype: float64 ,  Graduation Rate          83.5
% of Classes Under 20    59.5
Student-Faculty Ratio    10.5
Alumni Giving Rate       29.0
Name: 0.5, dtype: float64 ,  Graduation Rate          91.00
% of Classes Under 20    66.25
Student-Faculty Ratio    13.50
Alumni Giving Rate       38.50
Name: 0.75, dtype: float64
Standard Deviation: Graduation Rate           8.607168
% of Classes Under 20    13.193712
Student-Faculty Ratio     4.850788
Alumni Giving Rate       13.441346
dtype: float64
Variance: Graduation Rate           74.083333
% of Classes Under 20    174.074025
Student-Faculty Ratio     23.530142
Alumni Giving Rate       180.669770
dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  import sys

Use the methods of the descriptive statistics summarize the data.

In [ ]:
m1 = df['Graduation Rate'].mean()
med1 = df['Graduation Rate'].median()
mod1 = df['Graduation Rate'].mode()
print('Here is the summary statistics for the Graduation Rate column', '\nMean: ', m1, '\nMedian: ', med1, '\nMode: ', mod1)

m2 = df['Alumni Giving Rate'].mean()
med2 = df['Alumni Giving Rate'].median()
mod2 = df['Alumni Giving Rate'].mode()
print('Here is the summary statistics for the Alumni Giving Rate column', '\nMean: ', m1, '\nMedian: ', med1, '\nMode: ', mod1)

Here is the summary statistics for the Graduation Rate column
Mean:  83.04166666666667
Median:  83.5
Mode:  0    92
dtype: int64

Test your hypothesis using a simple linear regression model that can be used to predict the alumni giving rate, given the graduation rate. Report and discuss your findings using appropriate model statistics.

In [ ]:
x = np.array(df['Graduation Rate']).reshape(-1, 1)
y =np.array(df['Alumni Giving Rate']).reshape(-1, 1)
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

In [ ]:
reg = lr()
reg.fit(x, y)
print(reg.score(x, y))

0.6999406058253763

In [ ]:
mod = sm.OLS(x, y)
res = mod.fit()
print(res.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.879
Model:                            OLS   Adj. R-squared (uncentered):              0.876
Method:                 Least Squares   F-statistic:                              341.6
Date:                Wed, 16 Mar 2022   Prob (F-statistic):                    3.41e-23
Time:                        14:05:59   Log-Likelihood:                         -229.79
No. Observations:                  48   AIC:                                      461.6
Df Residuals:                      47   BIC:                                      463.5
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             2.4343      0.132     18.482      0.000       2.169       2.699
==============================================================================
Omnibus:                        2.262   Durbin-Watson:                   0.994
Prob(Omnibus):                  0.323   Jarque-Bera (JB):                1.560
Skew:                          -0.432   Prob(JB):                        0.458
Kurtosis:                       3.182   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

% of Classes Under 20

Student-Faculty Ratio

In [ ]:
x = df[['% of Classes Under 20', 'Student-Faculty Ratio','Graduation Rate']]
y = np.array(df['Alumni Giving Rate']).reshape(-1, 1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

Develop a multiple linear regression model that could be used to predict the alumni giving rate using Graduate Rate, % of Classes Under 20, and Student/Faculty Ratio as independent variables.  Report and discuss your findings using appropriate model statistics.

In [ ]:
multilm = reg.fit(x, y)
print(reg.score(x, y))

0.6999406058253763

In [ ]:
def summarizing(regmodel):
    #R2 value
    r2reg = regmodel.r2_score()
    
    #
    varreg = regmodel.explained_variance_score()
    

    maxreg = regmodel.max_error()
    
    #returns the cofecient
    coefreg = regmodel.coef_
    
    #returns the y intercept
    interreg = regmodel.intercept_


    featreg = regmodel.n_features_in_
    

    scorereg = regmodel.score()


    paramsreg = regmodel.set_params()
    return(print())

In [ ]:
from rpy2.robjects import FloatVector
from rpy2.robjects.packages import importr
import rpy2.robjects as robjects
stats = importr('stats')
base = importr('base')
robjects.globalenv["x1"] = FloatVector(df['Graduation Rate'])
robjects.globalenv["x2"] = FloatVector(df['% of Classes Under 20'])
robjects.globalenv["x3"] = FloatVector(df['Student-Faculty Ratio'])
robjects.globalenv["y"] = FloatVector(df['Alumni Giving Rate'])
lmheight = stats.lm('y~x1+x2+x3')
base.summary(lmheight)

<rpy2.robjects.vectors.ListVector object at 0x7f527a270500> [RTYPES.VECSXP]
R classes: ('summary.lm',)
[LangSexpV..., LangSexpV..., FloatSexp..., FloatSexp..., ..., FloatSexp..., FloatSexp..., FloatSexp..., FloatSexp...]
  call: <class 'rpy2.robjects.language.LangVector'>
  Rlang( (function (formula, data, subset, weights, na.action, method = "qr",  )
  terms: <class 'rpy2.robjects.Formula'>
  <rpy2.robjects.Formula object at 0x7f527a2711e0> [RTYPES.LANGSXP]
R classes: ('terms', 'formula')
  residuals: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x7f527a2715f0> [RTYPES.REALSXP]
R classes: ('numeric',)
[-3.511850, 2.175015, -1.067219, 4.812986, ..., -0.877523, 8.767864, -4.399479, 6.498896]
  coefficients: <class 'rpy2.robjects.vectors.FloatMatrix'>
  <rpy2.robjects.vectors.FloatMatrix object at 0x7f527a271c30> [RTYPES.REALSXP]
R classes: ('matrix', 'array')
[-20.720134, 0.748183, 0.029041, -1.192011, ..., 0.243333, 0.000048, 0.835844, 0.003538]
...
  sigma: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x7f527a271f50> [RTYPES.REALSXP]
R classes: ('numeric',)
[0.699941]
  df: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x7f527a274460> [RTYPES.REALSXP]
R classes: ('numeric',)
[0.679482]
  r.squared: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x7f527a274820> [RTYPES.REALSXP]
R classes: ('numeric',)
[34.212545, 3.000000, 44.000000]
  adj.r.squared: <class 'rpy2.robjects.vectors.FloatMatrix'>
  <rpy2.robjects.vectors.FloatMatrix object at 0x7f527a2740a0> [RTYPES.REALSXP]
R classes: ('matrix', 'array')
[5.301490, -0.038382, -0.018627, -0.091435, ..., -0.091435, 0.000324, 0.000623, 0.002583]

Which universities are achieving a substantially higher alumni giving rate than would be expected, given their Graduate Rate, % of Classes Under 20, and Student/Faculty Ratio?